*{
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: black;
    margin: 0;
}

.screen-wrapper{
    background-color: white;
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 7rem;
    background: linear-gradient(90deg, rgba(45, 114, 225, 1) 0%, rgba(117, 157, 221, 1) 54%, rgba(18, 53, 109, 1) 100%);
}

header select{
    margin: 0 auto;
}

main *{
    margin: 0;
}

main{
    background: #D3D1CD;
    height: calc(100% - 104px);
    display: flex;
    justify-content: space-between;
}

footer{ 
    height: 3.4rem;
    background: #93FF20;
}

.page-content-box{
    padding: 1rem 2rem;

}

.page-content-box p {
    font-size: 1.2rem;
    font-family: sans-serif;
    max-width: 47rem;
    line-height: 1.75rem;
    display: inline-block;
    vertical-align: top;
}

.page-image-box{
    display: inline-block;
    margin-left: 2rem;
}

.page-content-box img {
    height: 28rem;
    width: 37rem;
}

.page-transfer-link{
    text-decoration: none;
    color: black;
    font-size: 4rem;
    display: block;
    height: 100%;
    background-color: white;
    width: 6rem;
    align-self: center;
}

.page-transfer-link:hover{
    color: red;
}

.feedback-form *{
    display: block;
}

.copyright-text{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



