*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root{
    font-size: 62.5%;
}

@font-face {
    font-family: "Inter";
    src: url("sources/fonts/Inter_24pt-Medium.ttf") format("ttf");
    font-weight: normal;
}

body{
    background-color: black;
    margin: 0;
}

header{
    height: 7rem;
    background: linear-gradient(90deg, rgba(45, 114, 225, 1) 0%, rgba(117, 157, 221, 1) 54%, rgba(18, 53, 109, 1) 100%);
    border-bottom: solid .2rem black;
    padding-top: 2rem;
}

.entrance-text{
    font-size: 2.4rem;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

.screen-wrapper{
    background-color: white;
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
}

.page-transfer-link{
    text-decoration: none;
    color: black;
    font-size: 4rem;
    display: block;
    height: 100%;
    background-color: white;
    width: 6rem;
    align-self: center;
}

.page-transfer-link:hover{
    color: red;
}

@media (max-width: 391px) {
    .screen-wrapper{
        width: 39rem;
        height: initial;
    }

    .page-transfer-link{
        width: 2rem;
        font-size: 1.5rem;
    }

    .page-image{
        outline: 1px solid green;
        box-shadow: none;
    }
}