.screen-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header select{
    margin: 0 auto;
}

main *{
    margin: 0;
}

main{
    background: #D3D1CD;
    height: calc(100% - 104px);
    display: flex;
    justify-content: space-between;
}

footer{ 
    height: 3.4rem;
    background: #93FF20;
}

.page-content-box{
    padding: 1rem 2rem;

}

.page-content-box p {
    font-size: 1.2rem;
    font-family: sans-serif;
    max-width: 47rem;
    line-height: 1.75rem;
    display: inline-block;
    vertical-align: top;
    white-space: pre-wrap;
}

/* Что за говно нахуй снизу , какой image box и content box img одновременно. Ты ебанат? */

.page-image-box{
    display: inline-block;
    margin-left: 2rem;
}

.page-content-box img {
    height: 28rem;
    width: 37rem;
    box-shadow: 9.5rem 1rem 1rem black;
}

.feedback-form *{
    display: block;
}

.copyright-text{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dialog-window{
    height: 4rem;
    width: 33rem;
    margin: 0 auto;
    margin-top: 15rem;
    border: 1px solid black;
}

.dialog-window::backdrop{
    background-color: rgb(43, 23, 23);
    opacity: 0.95;
}

.dialog-window p{
    white-space: pre-wrap;
}

/* .page-transfer-link{
    text-decoration: none;
    color: black;
    font-size: 4rem;
    display: block;
    height: 100%;
    background-color: white;
    width: 6rem;
    align-self: center;
} */

@media (max-width: 391px) {
    main{
        justify-content: start;
    }

    .page-image-box{
        margin: 0;
    }

    .page-content-box{
        padding: 0;
    }

    .page-content-box img{
        width: 28rem;
    }

    footer{
        width: 100%;
    }
    
    .copyright-text{
        margin: 0;
    }
}

